		<div id="page">
			<div id="header">
				<div class="header_button link">
					<img src="images/settings.png"/>
					<div class="popup_menu" id="settings_popup">
					    Signed&nbsp;in&nbsp;as&nbsp;<b><%= current_user.email %></b><br/>
					    <%= link_to "> Sign out", destroy_user_session_path, :method => :delete, :class => "href" %>
					</div>
				</div>
				<div class="header_button link" id="import_button">
					<img src="images/upload.png"/>
					<div class="popup_menu" id="import_popup">
						Paste, press tab<br/>
						<textarea id="import_input"></textarea>
					</div>
				</div>
				<div class="header_button">
					<a href="verifications.csv" id="_export_button" class="header_button href"><img src="images/download.png"/></a>
				</div>
				<div class="nofloat"></div>

				<a href="#pivot" id="_pivot" class="header_menu_item selected">Pivot</a>
				<a href="#list" id="_list" class="header_menu_item">List</a>
				<a href="#patterns" id="_patterns" class="header_menu_item">Patterns</a>
				<div class="nofloat"></div>
				
				<div class="filter_menu">
					<span class="filter_menu_item link">Date range: <b id = "date_range_filter_value">Last year</b></span>
					<div class="popup_menu triangle-border" id="year_filter_menu">
						<div class="column">
							<a href="#" class="nav" data-filter-name="DateRange,Year,Month">All</a><br/>
							<a href="#" class="nav" data-filter-name="DateRange,Year,Month" data-filter-value="LastYear">Last year</a><br/>
							<a href="#" class="nav" data-filter-name="DateRange,Year,Month" data-filter-value="LastMonth">Last month</a><br/>
						</div>
						<div class="column">
							<a href="#" class="nav" data-filter-name="Year,DateRange" data-filter-value="2012">2012</a><br/>
							<a href="#" class="nav" data-filter-name="Year,DateRange" data-filter-value="2011">2011</a><br/>
							<a href="#" class="nav" data-filter-name="Year,DateRange" data-filter-value="2010">2010</a><br/>
							<a href="#" class="nav" data-filter-name="Year,DateRange" data-filter-value="2009">2009</a><br/>
							<a href="#" class="nav" data-filter-name="Year,DateRange" data-filter-value="2008">2008</a><br/>
						</div>
						<div class="column">
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="1">January</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="2">February</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="3">March</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="4">April</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="5">May</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="6">June</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="7">July</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="8">August</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="9">September</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="10">October</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="11">November</a><br/>
							<a href="#" class="nav" data-filter-name="Month,DateRange" data-filter-value="12">December</a><br/>
						</div>
						<div class="nofloat"></div>
					</div>
				</div>
				<div class="filter_menu">
					<span class="filter_menu_item link">Category: <b id="category_filter_value">All</b></span>
					<div class="popup_menu" id="category_filter_menu">
						<div class="column">
							<a href="#" class="nav" data-filter-name="Category" data-filter-value="">All</a><br/>
							<a href="#" class="nav" data-filter-name="Category" data-filter-value="Alpha">Alpha</a><br/>
							<a href="#" class="nav" data-filter-name="Category" data-filter-value="Beta">Beta</a><br/>
							<a href="#" class="nav" data-filter-name="Category" data-filter-value="Gamma">Gamma</a><br/>
						</div>
						<div class="nofloat"></div>
					</div>
				</div>
				<div class="filter_menu">
					<span class="filter_menu_item link">Description: <b id="description_filter_value">All</b></span>
					<div class="popup_menu" id="description_filter_menu">
						<div class="column">
							<a href="#" class="nav">All</a><br/>
						</div>
						<div class="nofloat"></div>
					</div>
				</div>
				
				<div class="filter_menu">
					<span class="filter_menu_item link">Pivot view: <b id="pivot_view_value">Graph</b></span>
					<div class="popup_menu" id="pivot_view_menu">
						<div class="column">
							<a href="#" class="nav" data-filter-name="PivotView" data-filter-value="Graph">Graph</a><br/>
							<a href="#" class="nav" data-filter-name="PivotView" data-filter-value="Table">Table</a><br/>
						</div>
						<div class="nofloat"></div>
					</div>
				</div>
				<div class="nofloat"></div>

			</div>
 			<div id="content"></div>
			<div id="footer"></div>
			
		</div>
