/*
body {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fff;
  color: #333;
  font:400 1em/1.5em "Crimson Text", Georgia,Palatino,"Palatino Linotype",Serif;
}

a {
	font-family: "Crimson Text", Georgia,Palatino,"Palatino Linotype",Serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration:none
}


.menu_item {
margin-right: 20px;
font-variant: small-caps;
}
#menu_nav {
	margin-top: 100px;
	width: 100%;
	background-color: #ddd;
 	}
#menu {
float: left;
}
#user {
float: right;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: normal;
    src: local("Crimson Text"), local("CrimsonText-Roman"), url("http://themes.googleusercontent.com/static/fonts/crimsontext/v2/3IFMwfRa07i-auYR-B-zNaRDOzjiPcYnFooOUGCOsRk.woff") format("woff");
}
*/