// Place all the styles related to the verifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.erik {
position: relative;
}

/*
ul {
list-style-type: none;
margin: auto;
clear: both;
}
li {
float: left
}
ul a {
padding-right: 32px;
padding-left: 32px;
display: block;
line-height: 80px;
text-decoration: none;
font-size: 21px;
color: #371C1C;
}
ul a:hover {
color: #888;
}

#guides {
	width: 27em;
	display: block;
	background: #980905;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
	-moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em;
	color: #f1938c;
	padding: 1.5em 2em;
	position: absolute;
	z-index: 10;
	top: -0.25em;
	right: 0;
	padding-top: 2em;
}

#guides dt, #guides dd {
	font-weight: normal;
	font-size: 0.722em;
	margin: 0;
	padding: 0;
}
#guides dt {padding:0; margin: 0.5em 0 0;}
#guides a {color: #FFF; background: none !important;}
#guides .L, #guides .R {float: left; width: 50%; margin: 0; padding: 0;}
#guides .R {float: right;}
#guides hr {
	display: block;
	border: none;
	height: 1px;
	color: #f1938c;
	background: #f1938c;
}
*/